*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /* overflow: hidden; */
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  color:  hsl(0, 0%, 100%);
  flex-direction: column;

}
main{
height: 100vh;
min-height: 40rem;
  display: flex;
  margin: auto;

}

 h1 {
  color:  hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-size:1.8rem;
  font-weight: 700;
  letter-spacing: .07rem;
  line-height: 2.74rem;
  margin-bottom: 1.65rem;
}
span{
  color: hsl(277, 64%, 61%);
}
ul {
 display: flex;
 margin: 3rem auto 3rem;
 /* margin:  4.7rem auto 3.92rem; */
 list-style: none;
 justify-content: space-between;
 letter-spacing: 1px;
}

ul h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);

}

ul p {
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  text-transform: uppercase;
  font-size: 0.75rem;
}

ul:nth-child(3) {
  margin-left: -.2rem;
}


.container{
  background-color: hsl(244, 38%, 16%);
  border-radius: .5rem;
  display: flex;
  height: 27.85rem;
  margin: auto;
  width: 64.875rem;

}

.content{
  padding: 4.43rem 0 4rem 4.5rem;
  width: 24.719rem;
}


.sub-heading{
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: -.01rem;
  line-height: 1.6rem;
  margin-left: -.12rem;
  opacity: .75;
  width: 21.9rem;

}

.stats-txt {
  font-family: "Lexend Deca", sans-serif;
  font-size: .8rem;
  letter-spacing: .02rem;
  margin-bottom: 3rem;
  opacity: .6;
  text-transform: uppercase;
  width: 9rem;


}

.image-header-desktop {
  background-image: url("https://dimmageiras.github.io/frontend-mentor-stats-preview-card-component/images/image-header-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 .5rem .5rem 0;
  height: 27.875rem;
  margin-left: 6.4rem;
  width: 33.75rem;
}

.image-header-desktop::after {
  background-color: hsl(277, 64%, 61%);
  border-radius: 0 .5rem .5rem 0;
  content: '';
  height: 27.875rem;
  opacity: .5;
  position: absolute;
  width: 33.75rem;
}

.color-overlay {
  background-color: hsl(277, 64%, 61%);
  border-radius: 0 .5rem .5rem 0;
  height: 27.875rem;
  mix-blend-mode: difference;
  opacity: .1;
  position: absolute;
  width: 33.75rem;
}




@media only screen and (max-width: 450px) {
  body {
    min-width: 100%;
  }

  main {
    margin: 5.5rem auto;
    min-height: 48.75rem;
  }

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .075rem;
    line-height: 2rem;
    margin:30px 0 0 20px;
  }


  h2 {
    margin: 0 0 0 .2rem;
  }

  ul {
      margin: 2rem auto -2rem auto;
      display: block;
    }



    ul:nth-child(3) {
      margin: -2.5rem 0 0 ;
    }

  .container {
    display: block;
    height: 48.75rem;
    min-height: 48.75rem;
    min-width: 20.438rem;
    position: relative;
    width: 20.438rem;
  }

  .content {
    left: 0;
    margin: 16.8rem auto auto 1.84rem;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 17rem;
  }

  .sub-heading {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    letter-spacing: 0.018rem;
    line-height: 1.58rem;
    margin: 1rem auto 3.5rem -.17rem;
    width: 17rem;
  }


    .stats-txt {
      font-family: "Inter", sans-serif;
      letter-spacing: .03rem;
      width: auto;
    }


  .image-header-desktop {
    background-image: url("https://dimmageiras.github.io/frontend-mentor-stats-preview-card-component/images/image-header-mobile.jpg");
    border-radius: .5rem .5rem 0 0;
    height: 15rem;
    margin: 0;
    width: 20.438rem;
  }

  .image-header-desktop::after {
    border-radius: .5rem .5rem 0 0;
    height: 15rem;
    width: 20.438rem;
  }

  .color-overlay {
    border-radius: .5rem .5rem 0 0;
    height: 15rem;
    width: 20.438rem;
  }
}

.attribution {
  position: relative;
    margin-top: 20px;

  }
